deploy.sh
.cache/*
.bundle/*
.composer/*
.cpanm/*
.gem/*
.npm/*
.bash_history
.xslate_cache/*
xbuild/*
isubata/webapp/python/__pycache__/*
*.pyc
.DS_Store
.vim/
local/*
**/*/isucon7q-initial-dataset.sql.gz
isucon7q-initial-dataset.sql.gz
.idea/*